 /* p{
    color:red;
 }
 
  #p3{
    color: black;
  }

  .green-text{
    color: green;
  }
  #h{
    font-size: 50p  x ;
  }

   #bg {
    background-color:yellow;
    background-image: url('images/pexels-todd-trapani-488382-1420440.jpg'), url('images/music-player-2951399_1280.jpg'); 
    background-repeat:  no-repeat;
    background-position: left top,right bottom;
   
   }
    body {
    background-color: yellow;
   }  */

   /* #border{
    border-style:solid dashed dotted double;
    border-width: 5px 1px 7px 2px;
    border-color: blue red yellow green;
   border: 5px solid green ;
   border-top-style:solid ;
   border-top-width: 10px;
   border-top-color:red;
   border-top-right-radius: 25px ;
  } */
 /* body{
  border: 1px solid red;
  height: 1000px;
 }
  #div1{
    background-color: yellow;
    height: 50% ;
    width: 70%;
    min-width: 1000px;
    min-height:  300px;  ;
    
  } */

  .div1{
   border: 1px solid red;
   /* padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 40%;  */

   padding: 25px 50px 30px 70px;
  }

 /* body {
  border:  10px dotted yellow;
 }
 #marg{

   margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 50px;
  margin-left: 70px;  
  width: 200px;
  margin: 20px auto; 
 } */
 #colsp{
  margin-bottom: 50px;

 }
 #marg{
  margin-top: 50px;
 }