 /* p{
    color:red;
 }
 
  #p3{
    color: black;
  }

  .green-text{
    color: green;
  }
  #h{
    font-size: 50p  x ;
  }

   #bg {
    background-color:yellow;
    background-image: url('images/pexels-todd-trapani-488382-1420440.jpg'), url('images/music-player-2951399_1280.jpg'); 
    background-repeat:  no-repeat;
    background-position: left top,right bottom;
   
   }
    body {
    background-color: yellow;
   }  */
   /* #border{
    border-style:solid dashed dotted double;
    border-width: 5px 1px 7px 2px;
    border-color: blue red yellow green;
   border: 5px solid green ;
   border-top-style:solid ;
   border-top-width: 10px;
   border-top-color:red;
   border-top-right-radius: 25px ;
  } */
 /* body{
  border: 1px solid red;
  height: 1000px;
 }
  #div1{
    background-color: yellow;
    height: 50% ;
    width: 70%;
    min-width: 1000px;
    min-height:  300px;  ;
    
  } */
  /* .div1{
   border: 1px solid red;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 40%;  

   padding: 25px 50px 30px 70px;
  } */
 /* #marg{

  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 50px;
  margin-left: 70px;  
  width: 200px; 
  margin: 20px auto; 
 } */
 /*#text{
  width: 500px;
  height: 300px;
  border: 1px solid green;
  color: violet;
  text-align: justify; 
   direction: rtl
   text-decoration: line-through; 
   text-transform: capitalize; 
   line-height: 50px; 
  text-indent: 50px ; 
   letter-spacing: 2px;
  word-spacing: 5px; 
  white-space: nowrap;
  word-wrap: break-word;
  writing-mode: vertical-rl; 

 }*/
 /* #shadow {
  font-size: 80px;
  text-shadow: 5px -10px 8px red;
 } */
 /* img{
  border: 1px solid red;
  vertical-align: middle;

 } */
 /* a{
  text-decoration: none;
 }

  a:link{
 color: yellowgreen;
 }
 
 a:visited{
color:red;
 }
 a:hover{
color: gray;
 }
 a:active{
    color: blue;
 }  
 @font-face{
  font-family:  abc ;
  src: url('fonts/Quick\ Delight.otf');
} 
 h1{
  font-family:  abc;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Roboto Mono',sans-serif ; 

 }
 p{
  font-family: abc , 'roboto mono', sans-serif;
   font-size: 30px;
  font-weight: regular;
  font-style: italic;
  font-variant: small-caps; 

 }*/
 /*html{
  font-size: 14px;
 }
#parent{
/border: 1px solid red;
height: 50vh;
width: 50vw; 
font-size: 4rem;
}
#child{
  font-size: 2rem;
  border: 1px solid gold ;
  width: 50%; 
}*/
/* div{
  border: 1px solid red;
  cursor:  zoom-in;
} 
 div{
  border: 1px solid yellowgreen;
  width: 500px;
  background-color:  blueviolet;
  margin: 100px;
  padding: 20px;
  box-shadow: 10px 15px  15px 3px gray , -10px 5px 5px 2px red ;
 }*/
 /* #color-box{
  background-color: green ;
  height: 200px;
  width: 500px;
  margin-bottom: 20px;
  opacity: 0.5;
 } 
 
 #red-box{
  height: 300px;
  width: 200px;
  background-color: yellow;
  margin-top:-100px; 
  opacity: 0.2;
 }
 img{
  filter: brightness(20%),contrast(10%);
 }
 #sprite{
  height: 100px;
  width: 150px;
  background-image: url(images/main-qimg-4232dfe090ed28245c91e8f17f74a792-pjlq.jpg);
   background-repeat: no-repeat;
   background-position: 10px -300px;
 }*/
/* #div1{
  height: 500px;
  border: 1px solid gray ;
  background-image: radial-gradient(circle,green 50%,blue,red);
 */
 /* #overflow{
  background-color: whitesmoke;
  border: 1px solid gray;
  width: 500px;
  height: 300px;
  
  overflow: auto;
  resize: horizontal; 
} */
/*ul{
 list-style-type: square; 
list-style-image: url('images/images.jpg');
list-style-position: inside; 
}

ol{
list-style-type: ;
}
li{
  border: 1px solid red;
}*/
 /*table{
  border: 1px solid blue;
  border-collapse:separate ;
  border-spacing: 15px;
  caption-side: bottom;
  empty-cells: hide;
 }
 caption{
  border: 1px solid red;
 }
 tr{
  border: 1px solid green;
 }
 th{
  border: 1px solid green;
  height: 20px;
  padding: 15px;
  text-align: right;
 }
 td{
  border: 1px solid green;
  height: 15px;
  padding: 25px;
  text-align: left;
 }*/
 :root{
  --primay-color:teal;
  --btn-color: blueviolet;
  --text-color: red;
 }
 #fun{
  background-color: var(--primay-color);
  height: 200px;
  width: calc(100% - 200px);
 }
 a{
  padding: 10px 30px;
  margin: 20px;
  background-color: var(--btn-color);
  color: white;
  text-decoration: none;
 }